URL=http://localhost:3000
TENDERLY_KEY=
TENDERLY_ACCOUNT=
TENDERLY_PROJECT=
NEXT_PUBLIC_ENV=prod
NEXT_PUBLIC_ENABLE_GOVERNANCE=true
NEXT_PUBLIC_ENABLE_STAKING=true
NEXT_PUBLIC_API_BASEURL=https://aave-api-v2.aave.com
NEXT_PUBLIC_TRANSAK_APP_URL=https://global.transak.com
NEXT_PUBLIC_TRANSAK_API_URL=https://api.transak.com
NEXT_PUBLIC_TRANSAK_API_KEY=799087ea-c2be-44b8-a0fe-56d96b37ee3c
NEXT_PUBLIC_FORK_BASE_CHAIN_ID=
NEXT_PUBLIC_FORK_CHAIN_ID=
NEXT_PUBLIC_FORK_URL_RPC=
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=
NEXT_PUBLIC_MIXPANEL=
NEXT_PUBLIC_FIAT_ON_RAMP=true
NEXT_PUBLIC_SUBGRAPH_API_KEY=
NEXT_PUBLIC_IS_CYPRESS_ENABLED=false
NEXT_PUBLIC_AMPLITUDE_API_KEY=6b28cb736c53d59f0951a50f59597aae
NEXT_PUBLIC_PRIVATE_RPC_ENABLED=false

# Set to 'true' to allow all domains for CORS (use only in development)
CORS_DOMAINS_ALLOWED=false

# Private RPC api keys (server-side only)
MAINNET_RPC_API_KEY=
POLYGON_RPC_API_KEY=
AVALANCHE_RPC_API_KEY=
ARBITRUM_RPC_API_KEY=
BASE_RPC_API_KEY=
OPTIMISM_RPC_API_KEY=
METIS_RPC_API_KEY=
GNOSIS_RPC_API_KEY=
BNB_RPC_API_KEY=
SCROLL_RPC_API_KEY=
ZKSYNC_RPC_API_KEY=
LINEA_RPC_API_KEY=
SONIC_RPC_API_KEY=
CELO_RPC_API_KEY=
