; We have @infinex on public npmjs.com, but private packages are in GCP and use
; our normal Google creds for access. The token is stored in .npmrc in the user
; HOME directory so that this file can be checked in.
@infinex:registry=https://australia-southeast1-npm.pkg.dev/infinex-cicd/npm-private/
//australia-southeast1-npm.pkg.dev/infinex-cicd/npm-private/:always-auth=true
