@font-face {
  font-family: 'TT Travels';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("TT_Travels_Bold.woff2") format("woff2"),
        url("TT_Travels_Bold.woff") format("woff");
}

@font-face {
  font-family: 'TT Travels';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("TT_Travels_DemiBold.woff2") format("woff2"),
        url("TT_Travels_DemiBold.woff") format("woff");
}
