name: Build and deploy to IPFS

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    if: |
      (github.event_name == 'push' && github.ref == 'refs/heads/main') || 
      github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # v3.0.0
        with:
          persist-credentials: false

      - name: Build App
        uses: ./.github/actions/build
        with:
          NEXT_PUBLIC_ENABLE_TESTNET: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' && 'false' || 'true' }}

      - name: Upload artifacts
        uses: ./.github/actions/upload-artifacts


  cypress_smoke_v2:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      fail-fast: false
      matrix:
        market:
          - main
          - amm
          - polygon
          - avalanche
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # v3.0.0

      - name: Run tests
        uses: ./.github/actions/cypress
        with:
          CYPRESS_TENDERLY_ACCOUNT: ${{ secrets.TENDERLY_ACCOUNT }}
          CYPRESS_TENDERLY_KEY: ${{ secrets.TENDERLY_KEY }}
          CYPRESS_TENDERLY_PROJECT: ${{ secrets.TENDERLY_PROJECT }}
          YARN_TEST_COMMAND: ${{ matrix.market }}-v2-smoke

  cypress_smoke_v3:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      fail-fast: false
      matrix:
        market:
          - arbitrum
          - fantom
          - polygon
          - avalanche
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # v3.0.0

      - name: Run tests
        uses: ./.github/actions/cypress
        with:
          CYPRESS_TENDERLY_ACCOUNT: ${{ secrets.TENDERLY_ACCOUNT }}
          CYPRESS_TENDERLY_KEY: ${{ secrets.TENDERLY_KEY }}
          CYPRESS_TENDERLY_PROJECT: ${{ secrets.TENDERLY_PROJECT }}
          YARN_TEST_COMMAND: ${{ matrix.market }}-v3-smoke

  next_js_analyze:
    runs-on: ubuntu-latest
    if: |
      (github.event_name == 'push' && github.ref == 'refs/heads/main') || 
      github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name
    needs: build
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # v3.0.0

      - name: download build
        uses: actions/download-artifact@fb598a63ae348fa914e94cd0ff38f362e927b741 # v3.0.0
        with:
          name: nextjs
          path: .next

      - uses: ./.github/actions/analyze-comment
        if: github.event_name != 'pull_request'

      - uses: ./.github/actions/analyze-comment
        if: github.event_name == 'pull_request'
        with:
          PULL_REQUEST_NUMBER: ${{ github.event.number }}


  deploy:
    runs-on: ubuntu-latest
    if: |
      (github.event_name == 'push' && github.ref == 'refs/heads/main') || 
      github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name
    needs: 
      - build
      - next_js_analyze
      - cypress_smoke_v2
      - cypress_smoke_v3
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # v3.0.0

      - name: download build
        uses: actions/download-artifact@fb598a63ae348fa914e94cd0ff38f362e927b741 # v3.0.0
        with:
          name: out
          path: out

      - name: pinata
        id: pinata
        uses: aave/pinata-action@b03be403ea86f79077ea9cc0b835c3295faa12dd
        with:
          PINATA_API_KEY: ${{ secrets.PINATA_API_KEY }}
          PINATA_SECRET_KEY: ${{ secrets.PINATA_SECRET_KEY }}
          PIN_ALIAS: "${{ format('pull_request_{0}', github.head_ref) }}"
          BUILD_LOCATION: './out'
          CID_VERSION: 1

      - name: crust
        uses: crustio/ipfs-crust-action@18f5ab4e8496351cfaca10a55ced7119cb0fe677 # v2.0.6
        if: |
          github.event_name == 'push' &&
          github.ref == 'refs/heads/main'
        continue-on-error: true
        timeout-minutes: 3
        with:
          cid: ${{ steps.pinata.outputs.hash }}
          seeds: ${{ secrets.CRUST_SEEDS }}

      - uses: actions/setup-node@9ced9a43a244f3ac94f13bfd896db8c8f30da67a # v3.0.0
        if: |
          github.event_name == 'push' &&
          github.ref == 'refs/heads/main'
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
      - name: install
        if: |
          github.event_name == 'push' &&
          github.ref == 'refs/heads/main'
        run: yarn add axios

      - name: Update prod DNS
        id: deploy
        if: |
          github.event_name == 'push' &&
          github.ref == 'refs/heads/main'
        env:
          CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CF_ZONE_ID: ${{ secrets.CF_ZONE_ID }}
          HASH: ${{ steps.pinata.outputs.hash }}
          CF_DEPLOYMENT_DOMAIN: app.aave.com
        run: node scripts/update-cloudflare.js


  cypress_full_v2:
    runs-on: ubuntu-latest
    needs: deploy
    strategy:
      fail-fast: false
      matrix:
        market:
          - main
          - amm
          - polygon
          - avalanche
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # v3.0.0

      - name: Run tests
        uses: ./.github/actions/cypress
        with:
          CYPRESS_TENDERLY_ACCOUNT: ${{ secrets.TENDERLY_ACCOUNT }}
          CYPRESS_TENDERLY_KEY: ${{ secrets.TENDERLY_KEY }}
          CYPRESS_TENDERLY_PROJECT: ${{ secrets.TENDERLY_PROJECT }}
          YARN_TEST_COMMAND: ${{ matrix.market }}-v2-full

  cypress_full_v3:
    runs-on: ubuntu-latest
    needs: deploy
    strategy:
      fail-fast: false
      matrix:
        market:
          - arbitrum
          - fantom
          - polygon
          - avalanche
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # v3.0.0

      - name: Run tests
        uses: ./.github/actions/cypress
        with:
          CYPRESS_TENDERLY_ACCOUNT: ${{ secrets.TENDERLY_ACCOUNT }}
          CYPRESS_TENDERLY_KEY: ${{ secrets.TENDERLY_KEY }}
          CYPRESS_TENDERLY_PROJECT: ${{ secrets.TENDERLY_PROJECT }}
          YARN_TEST_COMMAND: ${{ matrix.market }}-v3-full