name: Sync opened issues to Height

on:
  issues:
    types: [opened, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  create_height_subtask:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache jq
        uses: actions/cache@v2
        with:
          path: /usr/local/bin/jq
          key: jq-{{ hashFiles('jq-version') }}
      - name: Setup jq
        run: sudo apt-get install -y jq
      - name: Normalize and encode issue body as JSON
        id: encodeDesc
        run: |
          echo desc='${{ github.event.issue.body }}' | sed '{:q;N;s|\n|\\n|g;t q}' | sed 's|"|\\"|g' >> $GITHUB_OUTPUT
      - name: Encode the payload as JSON
        run: |
          payload=$(echo '{
            "name": "${{ github.event.issue.title }}",
            "description": "${{ steps.encodeDesc.outputs.desc }}"
            "listIds": [
              "0540b3b8-bd44-4904-a97f-fd9d8780ef0a"
            ],
            "parentTaskId": "2dded224-8da0-4407-868f-d9cd018cbe52",
            "status": "a347dcd0-d492-4e7b-86e6-5e7b759134d8",
            "orderIntent": {
              "intent": "end"
            },
            "assigneesIds": [
              "848a5626-451f-4e15-b711-bd0a84883718",
              "fe99c0a6-ad7b-458d-ae9f-687af57e0053",
              "b0093618-6032-4e90-aa01-1dfc6628832d"
            ],
            "links": [],
            "fields": [
              {
                "fieldTemplateId": "f1bae626-c18c-4198-b354-560d1610766c",
                "name": "Tags",
                "type": "labels",
                "value": null,
                "label": null,
                "values": null,
                "date": null,
                "recursion": null,
                "labels": [
                  {
                    "id": "a7ba7d3e-d1d6-4111-92e6-e89c9456ea13",
                    "model": "fieldLabel",
                    "value": "github-issue",
                    "date": null,
                    "hue": 49,
                    "deleted": false,
                    "archived": false
                  }
                ],
                "linkedTasks": null,
                "linkedTimer": null,
                "selectValue": null
              }
            ]
          }')
          echo $payload > payload.json
      - name: Log payload
        run: cat payload.json
      - name: Lint payload as valid JSON
        run: npx jsonlint payload.json
      - name: Create a new subtask with issue details in Height
        run: |
          echo "Sending task creation request..."
          curl -X POST https://api.height.app/tasks \
          -H "Content-Type: application/json" \
          -H "Authorization: api-key ${{ secrets.HEIGHT_SECRET_TOKEN }}" \
          -d @payload.json \
          -o response.json
          echo "Task creation request complete."
      - name: Log response
        run: cat response.json
