name: Reusable workflow for updating prod and staging

on:
  workflow_call:
    inputs:
      PINATA_HASH:
        type: string
        description: IPFS hash to pin and use in release description
        required: true

jobs:
  production:
    runs-on: ubuntu-latest
    environment:
      name: Production
      url: 'https://app.aave.com'
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # v3.0.0

      - name: download build
        uses: actions/download-artifact@fb598a63ae348fa914e94cd0ff38f362e927b741 # v3.0.0
        with:
          name: out
          path: out

      - name: crust
        uses: crustio/ipfs-crust-action@18f5ab4e8496351cfaca10a55ced7119cb0fe677 # v2.0.6
        continue-on-error: true
        timeout-minutes: 3
        with:
          cid: '${{ inputs.PINATA_HASH }}'
          seeds: '${{ secrets.CRUST_SEEDS }}'

      - uses: aave/cloudflare-update-action@5c1b528c9c6e0aed18a7dbdd7f957e0b8815a75e
        with:
          CF_API_TOKEN: '${{ secrets.CF_API_TOKEN }}'
          CF_ZONE_ID: '${{ secrets.CF_ZONE_ID }}'
          HASH: '${{ inputs.PINATA_HASH }}'
          CF_DEPLOYMENT_DOMAIN: app.aave.com

      - name: prepare release
        run: |
          cp .github/release-template.md ./release-notes.md
          sed -i 's|<ipfs-hash>|${{ inputs.PINATA_HASH }}|g' ./release-notes.md
          tar -czf app-build.tar.gz out/
          echo "TAG=release-$(date '+%Y-%m-%d_%H-%M')" >> ${GITHUB_ENV}

      - name: Create GH release
        uses: ncipollo/release-action@a2e71bdd4e7dab70ca26a852f29600c98b33153e # v1.10.0
        with:
          name: Production release
          artifacts: app-build.tar.gz
          bodyFile: release-notes.md
          commit: '${{ github.sha }}'
          tag: '${{ env.TAG }}'

  staging:
    runs-on: ubuntu-latest
    environment:
      name: Staging
      url: 'https://staging.aave.com'
    steps:
      - name: download build
        uses: actions/download-artifact@fb598a63ae348fa914e94cd0ff38f362e927b741 # v3.0.0
        with:
          name: out_staging
          path: out_staging
